body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 600px;
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	color: #333;
}

form {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

label {
	flex: 1;
	margin-right: 10px;
}

input {
	flex: 2;
	padding: 8px;
}

button {
	padding: 10px 16px;
	background-color: #4caf50;
	margin-left: 6px;
	color: #fff;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #0fa814;

}

ul {
	width: 100%;
	list-style-type: upper-alpha;
	padding: 0;
}

li {
	text-transform: capitalize;
	color: #063908;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
	background-color: #9f95f0;
	margin-bottom: 10px;
	padding: 12px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.tasktext {
	flex: 2;
	/* Занимает 2/3 ширины элемента */
}

.taskbuttons {
	flex: 1;
	/* Занимает 1/3 ширины элемента */
	display: flex;
	justify-content: space-between;
	/* Равномерно распределяет пространство между кнопками */
}

span {
	cursor: pointer;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

span:hover {
	background-color: #ffd700;
}

.editing {
	background-color: #ddd;
}

.delete {
	color: red;
	padding: 6px;
}

.add {
	font-size: 26px;
}

.delete:hover {
	background-color: red;
	color: #f4f4f4;
}

.editing input {
	background-color: #fff;
	border: 1px solid #ccc;
	flex: 2;
	padding: 8px;
}

.editing button {
	background-color: #2196f3;
	margin-left: 6px;
}

.editing span {
	display: none;
	/* Скрывает "Edit" и "Delete" в режиме редактирования */
}